.main {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: var(--black);
  color: var(--gray);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  z-index: 1;
}

.main strong {
  color: var(--white);
}

.button {
  border-width: 2px;
  border-style: solid;
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
  position: relative;
  padding: .5rem;
  background: #000;
  color: white;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
  font-size: .8rem;
}


.button:active,
.button:hover {
  background: black;
}

.button::before {
  content: '';
  position: absolute;
  inset: -2px;
  z-index: -1;
  background: linear-gradient(to left, #d835c5, #a11cf3);
  border-radius: 10px;

}

.arrow {
  width: 30px;
  color: var(--white);
  padding-left: .5rem;
  border-left: 1px solid var(--gray);
}

.main .fechar {
  display: none;
  background: linear-gradient(to right, var(--black), var(--black));
  border: none;
  font-size: 1rem;
  color: var(--white);
}


.hidden {
  display: flex;
}

@media (max-width: 40rem) {
  .main .fechar {
    display: block;
    border: none;
  }

  .main {
    height: auto;
    bottom: 0;
    top: unset;
    flex-direction: column;
    text-align: center;
  }

  .hidden {
    display: none;
  }
}